<!DOCTYPE html>
<html>
<head>



	<title> Payment Page </title>

		<link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="assets/css/skeleton.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

</head>
<body ng-app="payApp">



	<div ng-controller="PayAppController as arpa">

		<!-- I would like to add an email field in somewhere -->

		<section>
			<div class="hero-container">

				<div class="content-container">
					<h1> Advantage Realty Golf Outing </h1>

					<div class="image-container">
						<img src="assets/img/advantage_forgotten_harvest_logo.png">
					</div>
				</div>


			</div>

		</section>



		<!-- <div class="golf_outing_progress_container">

		  <div class="tab_button_container">

		    <h3> User Information </h3>
		    <div class="golf_outing_tab_button_one" ng-click="showTab(0)"></div>

		  </div>

		  <div class="tab_button_container">
		    <h3> Payment Information </h3>
		    <div class="golf_outing_tab_button_two" ng-click="showTab(1)"></div>
		  </div>

		  <div class="tab_button_container">
		    <h3> Confirm Details </h3>
		    <div class="golf_outing_tab_button_three" ng-click="showTab(2)"></div>
		  </div>

		</div> -->





		<!--

				User Information Form

	 -->
	 <section ng-show="tabs[0]">

			 <div class="sk-container adv-grid-container">

				 <form novalidate name="golf_outing_registration_form">

			 	 <h2 class="golf-outing-payment-form-header"> Registration Form </h2>

				 <div class="row">
					 <div class="six columns">

						 <div class="input-group">
							 <label for="firstName"> First Name <span class="adv_form_validation_message" ng-show="checkRegistrationField('firstName')"> * required </span> </label>
							 <input class="adv_form_validation adv_form_input" id="firstName" type="text" maxlength="50" name="firstName" ng-change="submitForm()" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.firstName" required>

						 </div>
					 </div>


					 <div class="six columns">
						 <div class="input-group">
							 <label for="lastName"> Last Name <span class="adv_form_validation_message" ng-show="checkRegistrationField('lastName')"> * required </span> </label>
							 <input class="adv_form_validation adv_form_input" id="lastName" type="text" maxlength="50" name="lastName" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.lastName" required>
						 </div>
					 </div>
				 </div> <!-- row end -->


				 <div class="row">
 	 				<div class="twelve columns">
 	 					<div class="input-group">
 	 						<label for="email"> Email Address <span class="adv_form_validation_message" ng-show="checkRegistrationField('emailAddress')"> * required </span> </label>
 	 						<input class="adv_form_validation adv_form_input" id="email" type="email" maxlength="50" name="emailAddress" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-model="authorize.createTransactionRequest.transactionRequest.userFields.userField[1].value" required>
						</div>
 	 				</div>
 	 			</div> <!-- row end -->


				 <span class="adv_form_validation_message" ng-show="checkRegistrationCheckField()"> * Please select an option </span>

				 <div class="row">

					 <div class="four columns">
						 <div class="check-container">
							 <div class="input-group">
								 <input type="checkbox" name="Foursome" id="foursome" class="adv_form_checkbox" ng-required="checkRegistrationCheckField()" ng-change="updatePrice()" value="460" ng-model="prices.foursome.selected">
								 <label for="foursome"> Four Some - $460 </label>
							 </div>
					 	</div>
					 </div>

					 <div class="four columns">
							 <div class="check-container">
								 <div class="input-group">
									 <input type="checkbox" id="singleplayer" class="adv_form_checkbox" ng-required="checkRegistrationCheckField()" name="Single Player" ng-change="updatePrice()" value="115" ng-model="prices.singlePlayer.selected">
									 <label for="singleplayer"> Single Player - $115 </label>
								 </div>
						 </div>
					 </div>

					 <div class="four columns">
						 <div class="check-container">
						 <div class="input-group">
							 <input type="checkbox" name="Dinner Guest" class="adv_form_checkbox" ng-required="checkRegistrationCheckField()" id="dinnerguest" ng-change="updatePrice()" value="50" ng-model="prices.dinnerGuest.selected">
							 <label for="dinnerguest"> Dinner Guest - $50 </label>
						 </div>
					 </div>
					 </div>
				 </div> <!-- row end -->


				 <!-- ========= Guest List =========  -->
				 <div ng-show="prices.foursome.selected" class="guest-container">
					 <div class="row">
						 <div class="four columns">
							 <div class="input-group">
								 <label for="guestone"> Guest One </label>
								 <input type="text" class="adv_form_input" id="guestone" name="guestOne" ng-change="updateGuests()" ng-model="guests[0]">
							 </div>
						 </div>

						 <div class="four columns">
							 <div class="input-group">
								 <label for="guesttwo"> Guest Two </label>
								 <input type="text" class="adv_form_input" id="guesttwo" name="guestTwo" ng-change="updateGuests()" ng-model="guests[1]">
							 </div>
						 </div>

						 <div class="four columns">
							 <div class="input-group">
								 <label for="guestthree"> Guest Three </label>
								 <input type="text" class="adv_form_input" id="guestthree" name="guestThree" ng-change="updateGuests()" ng-model="guests[2]">
							 </div>
						 </div>

						 <!-- <div class="three columns">
							 <label> Guest Four </label>
							 <div class="input-group">
								 <input type="text" name="guestFour" ng-change="updateGuests()" ng-model="guests[3]">
							 </div> -->
						 </div>
					 </div>

				 <!-- ================================= -->



				 <div class="row">
					 <div class="four columns">
						 <div class="check-container">
							 <div class="input-group">
								 <input type="checkbox" id="drinksponsor" class="adv_form_checkbox" ng-required="checkRegistrationCheckField()" name="drinkSponsor" ng-change="updatePrice()" value="250" ng-model="prices.drinkSponsor.selected">
								 <label for="drinksponsor"> Drink Sponsor - $250 </label>
							 </div>
					 	</div>
					 </div>

					 <div class="four columns">
						 <div class="check-container">
							 <div class="input-group">
								 <input type="checkbox" id="holesponsor" class="adv_form_checkbox" ng-required="checkRegistrationCheckField()" name="holeSponsor" ng-change="updatePrice()" value="100" ng-model="prices.holeSponsor.selected">
								 <label for="holesponsor"> Hole Sponsor - $100 </label>
							 </div>
					 	</div>
					 </div>


					 <div class="four columns">
						 <div class="check-container">
							 <div class="input-group">
								 <input type="checkbox" id="golddinner" class="adv_form_checkbox" ng-required="checkRegistrationCheckField()" name="goldDinner" ng-change="updatePrice()" value="460" ng-model="prices.goldDinner.selected">
								 <label for="golddinner"> Gold/Dinner - $500 </label>
							 </div>
					 	</div>
					 </div>
				 </div> <!-- row end -->


				 <div class="row">
					 <div class="four columns">
						 	<div class="check-container">
							 <div class="input-group">
								 <input type="checkbox" class="adv_form_checkbox" id="silverlunch" ng-required="checkRegistrationCheckField()" name="silverLunch" ng-change="updatePrice()" value="350" ng-model="prices.silverLunch.selected">
								 <label for="silverlunch"> Silver/Lunch - $350 </label>
							 </div>
						 </div>
					 </div>


					 <div class="four columns">
						 <div class="check-container">
						 <div class="input-group">
							 <input type="checkbox" class="adv_form_checkbox" id="bronzeputting" ng-required="checkRegistrationCheckField()" name="bronzePutting" ng-change="updatePrice()" value="250" ng-model="prices.bronzePutting.selected">
							 <label for="bronzeputting"> Bronze/Putting - $250 </label>
						 </div>
					 	</div>
					 </div>

					 <div class="four columns"> <!-- EMPTY ( on purpose ) --> </div>
				 </div> <!-- row end -->


				 <div class="advantage-button-nav-container">
						 <div class="form-button-container">
							 <button class="form-button-next" ng-click="checkFormAndContinue(0)"> Next </button>
						 </div>
					 </div>

		 	</form>

		 </div> <!-- container end -->

	 </section>


	 <section ng-show="tabs[1]">

		 <div class="sk-container adv-grid-container">







			 <!-- ============ Golf Outing Payment Form ============ -->


			 <form novalidate name="golf_outing_payment_form">

				 <div class="alert ng-hide" ng-show="ajaxResponse != ''"> {{ ajaxResponse }} </div>

				 <h2 class="golf-outing-payment-form-header"> Payment Form </h2>

				 <div class="row">
					 <div class="twelve columns">


						 <div class="input-group">
							 <label for="cardnumber"> Card Number <span class="adv_form_validation_message" ng-show="paymentCheckField('cardNumber')"> * invalid </span> </label>
							 <input type="text" id="cardnumber" class="adv_form_validation adv_form_input" name="cardNumber" ng-pattern="/^\d{16}$/" placeholder="xxxx xxxx xxxx xxxx" ng-minlength="16" ng-maxlength="16" maxlength="16" ng-model="authorize.createTransactionRequest.transactionRequest.payment.creditCard.cardNumber" required>
							</div>
						</div>
					</div>


					<div class="row">

						<div class="six columns">
 							<div class="input-group">
								<label for="xdate"> Expiration Date <span class="adv_form_validation_message" ng-show="paymentCheckField('expirationDate')"> * invalid </span> </label>
				 				<input type="text" id="expirationdate" class="adv_form_validation adv_form_input" name="expirationDate" ng-pattern="/^\d{2}\-\d{4}$/" ng-minlength="7" maxlength="7" ng-maxlength="7" placeholder="MM-YYYY" ng-model="authorize.createTransactionRequest.transactionRequest.payment.creditCard.expirationDate" required>
 						  </div>
 						</div>


						<div class="six columns">
							<div class="input-group">
								<label for="cardcode"> CVV Code <span class="adv_form_validation_message" ng-show="paymentCheckField('cardCode')"> * invalid </span> </label>
						  	<input type="text" id="cardcode" class="adv_form_validation adv_form_input" name="cardCode" ng-pattern="/^\d{3}$/" placeholder="CVV" ng-minlength="3" ng-maxlength="3" maxlength="3" ng-model="authorize.createTransactionRequest.transactionRequest.payment.creditCard.cardCode" required>
							</div>
						</div>

				 	</div> <!-- row end -->


					<div class="row">
						<div class="six columns">
							<div class="input-group">
								<label for="bfirstname"> First Name <span class="adv_form_validation_message" ng-show="paymentCheckField('firstName')"> * required </span> </label>
						  	<input type="text" id="bfirstname" class="adv_form_validation adv_form_input" maxlength="50" name="firstName" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.firstName" required>
							</div>
						</div>


						<div class="six columns">
							<div class="input-group">
								<label for="blastname"> Last Name <span class="adv_form_validation_message" ng-show="paymentCheckField('lastName')"> * required </span> </label>
								<input type="text" id="blastname" class="adv_form_validation adv_form_input" maxlength="50" name="lastName" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.lastName" required>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="twelve columns">
							<div class="input-group">
								<label for="address"> Address </label>
								<input type="text" id="address" class="adv_form_input" name="address" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.address">
							</div>
						</div>
					</div>


					<div class="row">
						<div class="six columns">
							<div class="input-group">
								<label for="city"> City </label>
								<input type="text" name="city" class="adv_form_input" id="city" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.city">
							</div>
						</div>


						<div class="six columns">
							<div class="input-group">
								<label for="state"> State </label>
								<select name="state" id="state" class="adv_form_input" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.state">
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
						</div>
					</div> <!-- row end  -->

					<div class="row">

						<div class="six columns">
							<div class="input-group">
								<label for="zipcode"> Zipcode </label>
								<input type="text" name="zip" class="adv_form_input" id="zipcode" maxlength="5" ng-minlength="5" ng-maxlength="5" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.zip">
							</div>
						</div>

						<div class="six columns">
							<div class="input-group">
								<label for="company"> Company </label>
								<input type="text" name="company" class="adv_form_input" id="company" ng-model="authorize.createTransactionRequest.transactionRequest.billTo.company">
							</div>
						</div>
					</div> <!-- row end -->


					<!-- Validate this form when the button is clicked and go next. -->
					<div class="advantage-button-nav-container">
						<div class="form-button-container">
							<button class="form-button-next" ng-click="checkFormAndContinue(1)"> Next </button>
						</div>

						<div class="form-button-container">
							<button class="form-button-prev" ng-click="prevTab(1)"> Prev </button>
						</div>
					</div>


			 </form>
		 </div> <!-- Container end -->
	 </section> <!-- Section End -->

	 <section ng-show="tabs[2]">

		 <div class="sk-container adv-grid-container">

			 	<div class="detail-container">
					<h3 class="detail-header"> Total: </h3>
					<div class="detail-price"> $ {{ authorize.createTransactionRequest.transactionRequest.amount }} </div>
				</div>

				 <div class="detail-container">
				 	<h3 class="detail-header"> Services: </h3>

					<ul class="summary-list" >
						<li ng-show="service.selected == true" ng-repeat="service in prices"> {{ service.label }} </li>
					</ul>
				</div>

				<div class="detail-container">
					<h3 class="detail-header"> Guests </h3>

					<ul class="summary-list">
						<li> {{ guests[0] }} </li>
						<li> {{ guests[1] }} </li>
						<li> {{ guests[2] }} </li>
					</ul>
				</div>

				<div class="advantage-button-nav-container">
					<div class="form-button-container">
<button class="form-button-next" ng-click="sendData()" ng-disabled="processing_payment"> Purchase <img src="assets/img/spinner.svg" ng-show="processing_payment" class="form-load-icon" /> </button>
					</div>


					<div class="form-button-container">
						<button class="form-button-prev" ng-click="prevTab(2)"> prev </button>
					</div>
				</div>


			 </div>
			 <!-- <pre> {{ authorize | json }} </pre> -->
			  </section>

				<section ng-show="tabs[3]">
	 			 <!-- Say the payment is successfull -->

				 <div class="success-section-container">

					 <div class="success-section-content">
						 <h1> Transaction Successfull </h1>
						 <h3> Payment Sent </h3>
						 <img src="assets/img/success-icon-green.png">
						 <p class="go-back-button"> <a ng-click="showTab(0)"> [ Go Back ] </a> </p>
					 </div>

				 </div>


	 		 </section>

		 </div> <!-- container and controller end -->






	 <!-- <button id="myButton" ng-click="sendData()"> Send Credit Card Info </button> -->

	</div>


</body> <!-- end controller -->

<script type="text/javascript" src='assets/js/angular/angular.min.js'></script>
<script type="text/javascript" src='assets/js/app.module.js'></script>


<!--- Get Payment Form Module -->
<script type="text/javascript" src='assets/js/payment-form/payment-form.module.js'> </script>
<script type="text/javascript" src='assets/js/payment-form/payment-form.component.js'> </script>


<!-- Get Registration Form Module -->
<script type="text/javascript" src='assets/js/registration-form/registration-form.module.js'> </script>
<script type="text/javascript" src='assets/js/registration-form/registration-form.component.js'> </script>



</html>
                     
                        
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                            
           
