/* using minor third as the font scale */
html {
  font-size: 14px; }

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/golf-photo.jpg");
  background-size: cover;
  background-position: center center;
  padding: 50px 0px; }

/* ------------------------- */
.golf_outing_progress_container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 60px 0px 0px 0px;
  justify-content: space-around; }

.golf_outing_progress_container h3 {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-weight: 500;
  font-size: 1rem; }

.golf_outing_progress_container:after {
  content: " ";
  z-index: -1;
  height: 2px;
  width: 100%;
  bottom: 13px;
  position: absolute;
  background-color: #D1D1D1; }

.golf_outing_tab_button_one,
.golf_outing_tab_button_two,
.golf_outing_tab_button_three {
  background-color: #ffffff;
  border-radius: 50%;
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 0px auto;
  border: 1px solid #4dc161; }

/* ------------------------- */
/* testing styles */
/* when the field is untouched don't chnage the color */
.adv_form_validation.ng-untouched {
  background-color: initial !important; }

/* when field is dirty and untouched chnage the color */
.adv_form_validation.ng-dirty.ng-invalid {
  background-color: #f3cccc; }

.advantage-button-nav-container {
  position: relative;
  padding: 20px; }
  .advantage-button-nav-container:after {
    display: table;
    clear: both;
    content: " "; }
  .advantage-button-nav-container .form-button-next {
    position: absolute;
    right: 0;
    top: 0; }
  .advantage-button-nav-container .form-button-prev {
    position: absolute;
    left: 0;
    top: 0; }

.adv_form_validation.ng-valid {
  background-color: initial; }

.alert {
  color: #ea150b;
  text-align: center;
  padding: 50px 0px 0px 0px; }

.detail-container {
  margin-bottom: 20px; }

.detail-header {
  font-size: 1.728rem;
  margin: 0px 0px 10px 0px; }

.content-container h1 {
  color: #d4d4d4;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.4);
  font-size: 2.074rem;
  padding: 20px 0px; }
.content-container h3 {
  text-align: center;
  font-size: 1.444rem; }

.adv-grid-container {
  padding: 50px 0px; }

.adv_form_input {
  width: 100%; }

.golf-outing-payment-form-header {
  font-size: 1.728rem; }

.input-group {
  margin-bottom: 21px; }
  .input-group input {
    font-size: 0.833rem;
    margin-bottom: 0px; }
  .input-group label {
    font-size: 1rem;
    font-weight: 100; }

/* From Validation Messages */
.adv_form_validation_message {
  display: inline-block;
  font-size: 0.833rem;
  color: tomato;
  padding: 10px 0px 5px 0px; }

.guest-container {
  padding: 16px 10px 10px 10px;
  margin-bottom: 6px;
  background-color: #eaeaea;
  position: relative;
  margin-top: 4px; }

.guest-container:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  left: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 8px solid #eaeaea; }

/* Checkbox Styles
------------------------------------------- */
.adv_form_checkbox[type="checkbox"] {
  display: none; }

.summary-list {
  list-style: none;
  margin-bottom: 10px li;
    margin-bottom-margin-bottom: 0px; }

.adv_form_checkbox[type="checkbox"]:not(:checked) + label,
.adv_form_checkbox[type="checkbox"]:checked + label {
  content: "";
  position: relative;
  padding: 16px 12px;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #afafaf;
  border-radius: 3px; }

.adv_form_checkbox[type="checkbox"]:checked + label {
  background-color: #4d9ae8; }

/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */

/*# sourceMappingURL=main.css.map */
