/* using minor third as the font scale */

html {
  font-size: 14px;
}


.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/golf-photo.jpg");
  background-size: cover;
  background-position: center center;
  padding: 50px 0px;

}

.form-load-icon {}

/* ------------------------- */

.golf_outing_progress_container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 60px 0px 0px 0px;
  justify-content: space-around;
}

.golf_outing_progress_container h3 {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-weight: 500;
  font-size: 1rem;
}

.golf_outing_progress_container:after {
  content: " ";
  z-index: -1;
  height: 2px;
  width: 100%;
  bottom: 13px;
  position: absolute;
  background-color: #D1D1D1;

}

.golf_outing_tab_button_one,
.golf_outing_tab_button_two,
.golf_outing_tab_button_three {
  background-color: #ffffff;
  border-radius: 50%;
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 0px auto;
  border: 1px solid #4dc161;
}

/* ------------------------- */


/* testing styles */

/* when the field is untouched don't chnage the color */
.adv_form_validation.ng-untouched {
  background-color: initial !important;
}

/* when field is dirty and untouched chnage the color */
.adv_form_validation.ng-dirty.ng-invalid {
  background-color: #f3cccc;
}


.advantage-button-nav-container {
  position: relative;

  &:after {
    display: table;
    clear: both;
    content: " ";
  }

  padding: 20px;

  .form-button-next {
    position: absolute;
    right: 0;
    top: 0;
  }

  .form-button-prev {
     position: absolute;
     left: 0;
     top: 0;
  }

}

.adv_form_validation.ng-valid {
  background-color: initial;
}

.alert {
  color: #ea150b;
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-size: 1.728rem;
}


.detail-container {
  margin-bottom: 20px;
}


.detail-header {
  font-size: 1.728rem;
  margin: 0px 0px 10px 0px;
}

.success-section-container {

  display: flex;
  justify-content: space-around;
  align-items: center;

  .success-section-content {
      padding: 70px 0px;

      h1 {
        font-size: 1.728rem;
        text-align: center;
      }

      h3 {
        font-size: 1.44rem;
        text-align: center;
        display: block;
        padding-bottom: 10px;
      }

      img {
        width: 130px;
        display: block;
        margin: 0px auto;
        height: auto;
      }

      p {
        display: block;
        text-align: center;
        cursor: pointer;
      }
  }

}


.content-container {

  h1 {
    color: #d4d4d4;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.4);
    font-size: 2.074rem;
    padding: 20px 0px;
  }

  h3 {
    text-align: center;
    font-size: 1.444rem;
  }

}

.image-container {

  img {
  }
}

.adv-grid-container {
  padding: 50px 0px;
}

.adv_form_input {
  width: 100%;
}

.golf-outing-payment-form-header {
  font-size: 1.728rem;
}



.input-group {

  margin-bottom: 21px;

  input {
    font-size: 0.833rem;
    margin-bottom: 0px;
  }

  label {
    font-size: 1rem;
    font-weight: 100;
  }

}


.check-container { }

.arrow-up { }

/* From Validation Messages */
.adv_form_validation_message {
  display: inline-block;
  font-size: 0.833rem;
  color: tomato;
  padding: 0px 0px 0px 0px;
}


.guest-container {
  padding: 16px 10px 10px 10px;
  margin-bottom: 6px;
  background-color: #eaeaea;
  position: relative;
  margin-top: 4px;
}


.guest-container:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  left: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 8px solid #eaeaea;
}

/* Checkbox Styles
------------------------------------------- */
.adv_form_checkbox[type="checkbox"] {
    display: none;
}

.summary-list {
  list-style: none;
  margin-bottom: 10px

  li {
    margin-bottom: 0px;
  }
}

.adv_form_checkbox[type="checkbox"]:not(:checked) + label,
.adv_form_checkbox[type="checkbox"]:checked + label {
  content: "";
  position: relative;
  padding: 16px 12px;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  // display: inline-block;
  border: 1px solid #afafaf;
  border-radius: 3px;
}

.adv_form_checkbox[type="checkbox"]:not(:checked) + label {}
.adv_form_checkbox[type="checkbox"]:checked + label {
		background-color: #4d9ae8;
}


@-webkit-key

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
